<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>zh-Hans</string>
        <string>en</string>
        <string>ja</string>
        <string>ko</string>
        <string>de</string>
        <string>fr</string>
        <string>ru</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>BrowserIsolator</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.local.BrowserIsolator</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BrowserIsolator</string>
    <key>CFBundleDisplayName</key>
    <string>浏览器多开</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>BrowserIsolator URL Handler</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>http</string>
                <string>https</string>
            </array>
        </dict>
    </array>
    <key>CFBundleShortVersionString</key>
    <string>1.7.1</string>
    <key>CFBundleVersion</key>
    <string>28</string>
    <key>SUFeedURL</key>
    <string>https://github.com/vivalucas/BrowserIsolator/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>Oj7/rjQPzfM58ZFo7/LfsOsthKW8jnvBIQWyxuuVkzc=</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSUIElement</key>
    <false/>
</dict>
</plist>
